
    <main id="index-main">
       <div id="product-list" class="product-list" >
           {{#each results}}
        <div class="cards" >
            <img src="{{this.thumbnail}}" alt="">
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
           <a style="color: black;" href="/posts/{{this.id}}">Details</a>
        </div>
           {{/each}}
       </div>
       
    </main>
    
   
    
