



    

    <form class="form"
    action="/users/login"
    method="POST"
    enctype="application/x-www-form-urlencoded">
        <div class="form-input">
        <label for="username">Username</label>
        <input class="input" type="text" name="username" placeholder="username">
    </div>
    <div class="form-input">
        <label for="password">Password</label>
        <input class="input" type="password" name="password" placeholder="password">
    </div>
    <div class="form-input">
        <input class="input" id = "submit-login" type="submit" name="submit" placeholder="Submit">
    </div>

    </form>

    
    
