
    
    
    <form class="form"
    action="/posts/create"
    method="post"
    enctype="multipart/form-data">
        <div class="form-input">
        <label for="title">Post Title</label>
        <input class="input" type="text" name="title" placeholder="Title">
    </div>
    <div class="form-input">
        <label for="description">Post description</label>
        <textarea class="input" name="description" id="" cols="20" rows="1"> </textarea>
    </div>
    <div class="form-input">
        <label for="image">Upload Image</label>
        <input class="input" type="file" name="uploadImage" >
    </div>
    <div class="form-input">
        <label for="policy"> Accept acceptable use policy for uploading image</label>
        <input class="input" type="checkbox" name="policy">
    </div>
    <div class="form-input">
       
        <input class="input" id="submit-postimage" type="submit" name="submit" value="Post image">
    </div>
    </form>

    

